<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                YelpCamp
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <% if (currentUser) { %>
                    <a class="btn btn-dark text-nowrap ml-3" href="/logout">Logout</a>
                <% } else { %> 
                    <a class="btn btn-success text-nowrap" href="/register">Sign Up</a>
                    <a class="btn btn-primary text-nowrap ml-3" href="/login">Login</a>
                <% } %> 
            </ul>
        </div>
    </nav>