<%- include("partials/header.ejs") %>

<header class="landing">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light display-3 mb-4">Welcome to YelpCamp</h1>
                <p class="h2 font-weight-light"><a href="/campgrounds">View All Campgrounds</a></p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    
    <p>
    </p>
    
</div>

<%- include("partials/footer.ejs") %>